@keyframes timelineFill154
	0%
		width: 0
	100%
		width: 154px

@keyframes timelineFill251
	0%
		width: 0
	100%
		width: 251px

@keyframes timelineFill262
	0%
		width: 0
	100%
		width: 262px

@keyframes timelineFill171
	0%
		width: 0
	100%
		width: 171px

@keyframes timelineFill119
	0%
		width: 0
	100%
		width: 119px

@keyframes timelineFill210
	0%
		width: 0
	100%
		width: 210px

	
/* Мобилка */
@keyframes timelineFillMobile
	0%
		transform: rotate(90deg) scaleX(0)
	100%
		transform: rotate(90deg) scaleX(1)