/* Шрифт */
$mainFont: "PT Sans", sans-serif
$secondFont: "Inter", sans-serif


/* Фон */
$mainBg: #fff
$modalBg: #fff
$modalCheckboxBg: #29abe2b3
$modalBtnBg: linear-gradient(139deg, #3abce680 0%, #0cace0ff 100%)
$burgerMenuLineBg: #54636e
$headerLinkBg: linear-gradient(142deg, #0cace0 0%, #c2e6ff 100%)
$footerLinkBg: linear-gradient(142deg, #0cace0 0%, #c2e6ff 100%)
$footerMobileBg: linear-gradient(169deg, #ffffff99 25%, #abe3f44d 100%)
$aboutItemsLeftBg: linear-gradient(151deg, #abe3f442 0%, #3abce642 100%)
$aboutItemsRightBg: linear-gradient(288deg, #abe3f442 0%, #3abce642 100%)
$missionItemsLeftBg: linear-gradient(107deg, #ffffff42 0%, #3abce642 100%)
$missionItemsRightBg: linear-gradient(270deg, #abe3f442 0%, #3abce642 100%)
$missionItemsMobileBg: linear-gradient(139deg, #abe3f442 0%, #3abce642 100%)
$wrapperMainGradientBg: linear-gradient(179deg, #ffffff99 0%, #abe3f44d 37.58%, #3abce68c 58.42%, #3abce699 73.37%, #3abce680 85.84%, #ffffff61 96.98%)
$historyItemsBg: linear-gradient(145deg, #ffffffcc 0%, #fff 100%)
$specialistsItemBg: linear-gradient(#fff, #fff) padding-box, linear-gradient(#29ABE2, #29ABE2) border-box
$reseachTdTimelineBg: #e6e6e6
$reseachTdTimelineBeforeBg: linear-gradient(90deg, #3abce6 0%, #3abce600 100%)
$reseachTdTimelineBeforeMobileBg: linear-gradient(-90deg, #3abce6 0%, #3abce600 100%)
$researchItemsBg: linear-gradient(210deg, #3abce659 0%, #4dc2fc 100%)
$researchItemsPhaseBg: linear-gradient(270deg, #3abce600 16.69%, #3abce666 100%)
$researchPageDetailsItemsMobileBg: linear-gradient(175deg, #00abef1a, #fff, #00abef1a)
$researchBtnApllyBg: #e5f9ff
$newsItemsBg: linear-gradient(153deg, #3abce640 0%, #daf6ff40 100%)
$newsPageBg: linear-gradient(180deg, #ffffff99 0%, #7ad0fb14 4.24%, #7dd1fb2e 7.82%, rgba(114, 201, 245, 0) 17%, #55c7ff1a 26.12%, #72c9f51a 32.24%, #0cace00d 59.47%, #ffffff 100%)
$preparatPaginationsBg: linear-gradient(90deg, #e9fcff 0%, #94daf1 100%)
$paginationsBg: linear-gradient(139deg, #3abce680 0%, #0cace0ff 100%)
$languagesCheckboxEngBg: linear-gradient(139deg, #0cace0 0%, #c2e6ff 100%)
$languagesCheckboxRuBg: linear-gradient(139deg, #c2e6ff 0%, #0cace0 100%)


/* Цвет */
$mainColor: #fff
$secondColor: #54636e
$companyColor: #0cace0
$companyTitleColor: linear-gradient(180deg, #3abce68a 0%, #0cace0 100%)
$missionInnovationTextColor: linear-gradient(177deg, #3abce64d 0%, #0cace0 100%)
$preparatLeftTitleColor: linear-gradient(250deg, #fff 0%, #0283bf 100%)
$preparatRightTitleColor: linear-gradient(250deg, #0283bf 0%, #fff 100%)
$historyMainTitleColor: linear-gradient(269deg, #3abce642 0%, #0cace042 100%)
$historyTitleColor: linear-gradient(-141deg, #3abce6 0%, #0cace042 100%)
$researchPageHowWorkTitleColor: linear-gradient(324deg, #3abce640 0%, #0cace0 100%)
$paginationsColor: #3abce6
$modalInputColor: #797979b3


/* Бордер */
$mainBorder: #0cace091
$secondBorder: #fff
$companyBorder: #0cace0
$headerLinkMobileBorder: linear-gradient(-90deg, #e9fcff 0%, #94daf1 100%)
$researchPageSearchFieldBorder: #0cace0
$newsDetailsBtnBorder: #54636e
$paginationsBorder: #3abce6
$searchFieldResultBorder: linear-gradient(#fff, #fff) padding-box, linear-gradient(#fff, #3abce6) border-box
$modalBtnBorder: linear-gradient(#fff, #fff) padding-box, linear-gradient(100deg, #3abce680 30%, #0cace0 100%) border-box
$modalInputBorder: #797979b3
$modalCheckboxBorder: #29abe2b3

	
/* Тень */
$defaultShadow: #00000040
$mainShadow: #00abef40
$itemsShadow: #3abce642
$showMoreBtnShadow: #00acf040
$languagesInnerCheckboxShadow: #0000000f, 0 3px 8px 0 #00000026, 0 0 0 1px #0000000a