@use '../base/index' as *

.research-page__how-work
	padding-top: 80px
	@media ( max-width: 576px )
		padding-top: 64px
	@media ( max-width: 425px )
		padding-top: 42px
	&__wrapper
		margin-top: 60px
		@include flexCenter(space-between)
		flex-wrap: wrap
		row-gap: 46px
		@media ( max-width: 991px )
			flex-direction: column
			row-gap: 32px
		@media ( max-width: 576px )
			margin-top: 32px
		@media ( max-width: 425px )
			row-gap: 16px
		@media ( max-width: 375px )
			margin-top: 0
	&__item
		@include flexCenter(space-between)
		gap: 36px
		padding: 10px 28px
		width: 48%
		min-height: 235px
		@media ( max-width: 991px )
			width: 70%
			order: 1
		@media ( max-width: 768px )
			width: 80%
		@media ( max-width: 676px )
			width: 95%
		@media ( max-width: 576px )
			width: 100%
			min-height: 220px
			padding: 16px 24px!important
		@media ( max-width: 480px )
			padding: 16px!important
		@media ( max-width: 425px )
			min-height: 180px
		@media ( max-width: 375px )
			min-height: 150px
		&:nth-child(5)
			padding: 10px 8px
		&:not(:nth-child(2)):not(:nth-child(5)):not(:last-child)
			border-radius: 28px
			box-shadow: 10px 10px 20px 0 $mainShadow
			background: $mainBg
			@media ( max-width: 425px )
				border-radius: 15px
		&:nth-child(2)
			@media ( max-width: 991px )
				order: 0
		&:nth-child(5)
			@media ( max-width: 991px )
				order: 2
		&:last-child
			@media ( max-width: 991px )
				order: 1
		&:nth-child(2), &:nth-child(5), &:last-child
			@media ( max-width: 991px )
				min-height: auto
				padding: 10px 28px
		&:nth-child(5)
			@media ( max-width: 425px )
				padding-top: 0!important
		&:last-child
			@media ( max-width: 425px )
				padding-bottom: 0!important
	&__left
		width: 22%
		@media ( max-width: 576px )
			width: 20%
	&__number
		font-weight: 700
		font-size: 200px
		line-height: 1
		background: $researchPageHowWorkTitleColor
		background-clip: text
		-webkit-text-fill-color: transparent
		@media ( max-width: 1140px )
			font-size: 180px
		@media ( max-width: 576px )
			font-size: 150px
		@media ( max-width: 480px )
			font-size: 130px
		@media ( max-width: 425px )
			font-size: 120px
		@media ( max-width: 375px )
			font-size: 108px
	&__right
		width: 75%
	&__header
		margin-bottom: 16px
		font-weight: 700
		font-size: 32px
		@media ( max-width: 576px )
			font-size: 26px
		@media ( max-width: 425px )
			font-size: 22px
			margin-bottom: 0
		@media ( max-width: 375px )
			font-size: 18px
	&__text
		font-size: 24px
		line-height: 140%
		@media ( max-width: 1140px )
			font-size: 22px
		@media ( max-width: 480px )
			font-size: 20px!important
		@media ( max-width: 425px )
			font-size: 18px!important
		@media ( max-width: 375px )
			font-size: 16px!important
		&_bold
			font-weight: 700
			@media ( max-width: 991px )
				font-weight: 400
		&_fs
			line-height: 120%
			font-weight: 700
			font-size: 32px
			text-transform: uppercase
			color: $companyColor
			@media ( max-width: 1140px )
				font-size: 24px
			@media ( max-width: 576px )
				font-size: 22px
			@media ( max-width: 375px )
				font-size: 18px!important