@use '../base/index' as *

.research-page__phase
	position: relative
	padding-top: 80px
	@media ( max-width: 576px )
		padding-top: 64px
	@media ( max-width: 425px )
		padding-top: 30px
	&::after
		width: 32%
		height: 1700px
		@include after(150px)
		@include background('img/research-page/research-page-phase-bg.png', contain)
		@media ( max-width: 1440px )
			width: 38%
		@media ( max-width: 1250px )
			width: 45%
		@media ( max-width: 1140px )
			width: 48%
			top: 100px
		@media ( max-width: 1100px )
			top: 150px
			width: 45%
			height: 1750px
		@media ( max-width: 991px )
			display: none
	&__block__items
		margin-top: 60px
		@media ( max-width: 425px )
			margin-top: 30px
	&__subheader
		font-weight: 700
		font-size: 32px
		line-height: 120%
		text-transform: uppercase
		color: $companyColor
		@media ( max-width: 1250px )
			width: 60%
		@media ( max-width: 991px )
			width: 100%
			text-align: center
		@media ( max-width: 576px )
			font-size: 28px
		@media ( max-width: 425px )
			font-size: 22px
		@media ( max-width: 375px )
			text-align: left
			font-size: 18px
	&__items
		padding: 32px 46px
		margin-top: 40px
		min-height: 411px
		border-radius: 28px
		box-shadow: 10px 10px 20px 0 $mainShadow
		background: $researchItemsPhaseBg
		@media ( max-width: 991px )
			@include doubleBackground('img/research-page/research-page-phase-bg-mobile.png', 15%, $researchItemsPhaseBg)
			background-position-x: right
			background-position-y: 0
		@media ( max-width: 768px )
			position: relative
			width: 120%
			padding-right: 160px
			background: $researchItemsPhaseBg
		@media ( max-width: 480px )
			padding: 24px 18px
			padding-right: 160px
		@media ( max-width: 425px )
			min-height: 320px
			margin-top: 30px
			padding-right: 70px
		&::after
			@media ( max-width: 768px )
				@include after($right: 65px)
				@include background('img/research-page/research-page-phase-bg-mobile.png', contain)
				width: 250px
				height: 250px
			@media ( max-width: 676px )
				right: 45px
			@media ( max-width: 576px )
				top: 15px
				right: 25px
			@media ( max-width: 425px )
				width: 180px
				height: 180px
				top: -10px
				right: 15px
				@include background('img/research-page/research-page-phase-bg-mobile-small.png', 50%)
		&__info
			&:not(:first-child)
				margin-top: 40px
				@media ( max-width: 375px )
					margin-top: 25px
		&__header, &__text, &__menu
			font-weight: 700
			font-size: 24px
			line-height: 140%
			@media ( max-width: 576px )
				font-size: 22px
			@media ( max-width: 425px )
				font-size: 18px
			@media ( max-width: 375px )
				font-size: 16px
		&__text, &__menu
			font-weight: 400
		&__menu
			list-style: disc
		&__list
			margin-left: 40px
			@media ( max-width: 425px )
				margin-left: 32px