@use '../base/index' as *

.specialists-page
	padding-top: 80px
	@media ( max-width: 991px )
		padding-top: 64px
	@media ( max-width: 576px )
		padding-top: 32px
	&__wrapper
		margin-top: 80px
		display: grid
		gap: 40px
		@media ( max-width: 576px )
			margin-top: 64px
		@media ( max-width: 576px )
			margin-top: 48px
		@media ( max-width: 425px )
			margin-top: 32px
	&__paginations
		margin-top: 40px